#  IMPORTING LIBRARIES, LOADING AND MERGING THE DATA

In [51]:
import pandas as pd
import numpy as np
pd.options.display.max_rows=350
pd.options.display.max_columns=40

pd.options.mode.chained_assignment = None 
import warnings
warnings.filterwarnings('ignore')

In [3]:
descriptions=pd.read_csv('descriptionsdfclean.csv')

In [4]:
descriptions.shape

(62395, 15)

In [5]:
descriptions.publisher.replace({"HarperCollins Publishers": "HarperCollins", 
                      'Scholastic Press':'Scholastic', 'Scholastic Inc.':'Scholastic',
                      'Scholastic, Inc.':'Scholastic', 'Scholastic Paperbacks':'Scholastic','Puffin':'Puffin Books', 
                      'Knopf Books for Young Readers': 'Knopf',
                     'Candlewick Press': 'Candlewick', }, inplace=True)

In [6]:
book_id=pd.read_csv('book_id_total.csv')

In [7]:
book_id.shape

(60004, 1)

In [8]:
df60= pd.merge(book_id,descriptions, on=["book_id"])

In [9]:
df60.shape

(60004, 15)

In [10]:
df60.publisher.value_counts()

Scholastic                     3349
HarperCollins                  2640
HMH Books for Young Readers    1882
Puffin Books                   1509
Candlewick                     1439
                               ...
Marshall Editions                 1
Secant Publishing                 1
Hester Pub.                       1
Sonlight Curriculum               1
Shining Star Press                1
Name: publisher, Length: 5234, dtype: int64

# PREPARING THE DATA FOR WEBSCRAPING

In [11]:
df60['title_2'] = df60['title'].str.replace(' ', '_')

In [12]:
df60['book_id_str'] = df60['book_id'].apply(str)

In [13]:
df60['book_id_title']=df60['book_id_str'] + '.' + df60['title_2']

In [14]:
df60.columns

Index(['book_id', 'isbn', 'text_reviews_count', 'is_ebook', 'average_rating',
       'description', 'format', 'publisher', 'num_pages', 'isbn13',
       'publication_year', 'ratings_count', 'title', 'descriptiondetect',
       'titledetect', 'title_2', 'book_id_str', 'book_id_title'],
      dtype='object')

In [15]:
df60.book_id_title

0                           3636.The_Giver_(The_Giver,_#1)
1                              11387515.Wonder_(Wonder_#1)
2        5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...
3                                 157993.The_Little_Prince
4                                  38709.Holes_(Holes,_#1)
                               ...
59999                             18223803.The_Cold_People
60000      34381539.Beep_Beep_Robot!_A_Spinning_Gears_Book
60001                       34381587.Touch_and_Feel_Winter
60002                            33938951.Peek-a-Boo_Baby!
60003                    4614268.The_Story_Of_Three_Whales
Name: book_id_title, Length: 60004, dtype: object

In [17]:
def get_uniques(df,lim=20):
    for col in df.columns:
        array=list(df[col].values)
        uniques=set(array)
        if len(uniques) < lim:
            print(col, ":", uniques)
        else:
            print(col, ":", len(uniques), "unique values.")

In [18]:
get_uniques(df60)

book_id : 60004 unique values.
isbn : 58707 unique values.
text_reviews_count : 971 unique values.
is_ebook : {False, True}
average_rating : 284 unique values.
description : 60004 unique values.
format : 70 unique values.
publisher : 5234 unique values.
num_pages : 602 unique values.
isbn13 : 59750 unique values.
publication_year : 106 unique values.
ratings_count : 3824 unique values.
title : 60004 unique values.
descriptiondetect : 60004 unique values.
titledetect : 60004 unique values.
title_2 : 60004 unique values.
book_id_str : 60004 unique values.
book_id_title : 60004 unique values.

In [19]:
popular_books=df60.sort_values(['text_reviews_count','ratings_count','average_rating'], ascending= False)

In [20]:
popular_books.head(5)

,book_id,isbn,text_reviews_count,is_ebook,average_rating,description,format,publisher,num_pages,isbn13,publication_year,ratings_count,title,descriptiondetect,titledetect,title_2,book_id_str,book_id_title
0,3636,0385732554,49850,False,4.12,Twelve-year-old Jonas lives in a seemingly ide...,Paperback,Ember,208.0,9780385732550,2006,1311422,"The Giver (The Giver, #1)",twelve-year-old jonas lives in a seemingly ide...,"the giver (the giver, #1)","The_Giver_(The_Giver,_#1)",3636,"3636.The_Giver_(The_Giver,_#1)"
1,11387515,0375869026,31536,False,4.43,I won't describe what I look like. Whatever yo...,Hardcover,Knopf,316.0,9780375869020,2012,255461,Wonder (Wonder #1),i won't describe what i look like. whatever yo...,wonder (wonder #1),Wonder_(Wonder_#1),11387515,11387515.Wonder_(Wonder_#1)
2,5,043965548X,28561,False,4.53,Harry Potter's third year at Hogwarts is full ...,Mass Market Paperback,Scholastic,435.0,9780439655484,2004,1876252,Harry Potter and the Prisoner of Azkaban (Harr...,harry potter's third year at hogwarts is full ...,harry potter and the prisoner of azkaban (harr...,Harry_Potter_and_the_Prisoner_of_Azkaban_(Harr...,5,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...
3,157993,0156012197,16639,False,4.28,"Moral allegory and spiritual autobiography, Th...",Paperback,"Harcourt, Inc.",93.0,9780156012195,2000,763309,The Little Prince,"moral allegory and spiritual autobiography, th...",the little prince,The_Little_Prince,157993,157993.The_Little_Prince
4,38709,0439244196,14851,False,3.93,Stanley tries to dig up the truth in this inve...,Paperback,Scholastic,233.0,9780439244190,2000,766680,"Holes (Holes, #1)",stanley tries to dig up the truth in this inve...,"holes (holes, #1)","Holes_(Holes,_#1)",38709,"38709.Holes_(Holes,_#1)"

In [21]:
popular_books.tail(5)

,book_id,isbn,text_reviews_count,is_ebook,average_rating,description,format,publisher,num_pages,isbn13,publication_year,ratings_count,title,descriptiondetect,titledetect,title_2,book_id_str,book_id_title
56826,788020,0874490715,1,False,2.0,Juxtaposes the traditional tale of Henny Penny...,Hardcover,Modern Publishing,0.0,9780874490718,1987,1,"Henny Penny, the Gingerbread Boy, Three Billy ...",juxtaposes the traditional tale of henny penny...,"henny penny, the gingerbread boy, three billy ...","Henny_Penny,_the_Gingerbread_Boy,_Three_Billy_...",788020,"788020.Henny_Penny,_the_Gingerbread_Boy,_Three..."
58646,3644037,1570913994,1,False,2.0,A baby's face is a study in motion: one minute...,Board Book,Charlesbridge,10.0,9781570913990,2001,1,Baby Face,a baby's face is a study in motion: one minute...,baby face,Baby_Face,3644037,3644037.Baby_Face
58078,30079968,0778725766,1,False,1.5,"The great outdoors is the perfect ""Maker"" spac...",Hardcover,Crabtree Publishing Company,32.0,9780778725763,2016,1,Maker Projects for Kids Who Love Exploring the...,"the great outdoors is the perfect ""maker"" spac...",maker projects for kids who love exploring the...,Maker_Projects_for_Kids_Who_Love_Exploring_the...,30079968,30079968.Maker_Projects_for_Kids_Who_Love_Expl...
55833,5128656,1588381471,1,False,1.0,Little Brother Real Snake is the coming-of-age...,Paperback,JuneBug Books,141.0,9781588381477,2004,1,Little Brother Real Snake,little brother real snake is the coming-of-age...,little brother real snake,Little_Brother_Real_Snake,5128656,5128656.Little_Brother_Real_Snake
59830,5809680,089565203X,1,False,1.0,Examples from daily life characterize honesty.,not defined,Child's World,0.0,9780895652034,1981,1,Honesty (What is it?) Values to Live By,examples from daily life characterize honesty.,honesty (what is it?) values to live by,Honesty_(What_is_it?)_Values_to_Live_By,5809680,5809680.Honesty_(What_is_it?)_Values_to_Live_By

In [ ]:
#popular_books2=df60.sort_values(['text_reviews_count','ratings_count'], ascending= False)

In [ ]:
#popular_books2.head(5)

In [ ]:
#popular_books2.tail()

In [22]:
pop1000books=popular_books.head(1000)

In [23]:
pop1000books.shape

(1000, 18)

## Saving the data

In [24]:
file_name='60004titlestoscrap.csv'
df60.book_id_title.to_csv(file_name, index=False)

In [25]:
file_name2='descriptionsdf_Final.csv'
df60.to_csv(file_name2,index=False)

In [26]:
file_name3='1000titlestoscrap.csv'
pop1000books.book_id_title.to_csv(file_name3,index=False)

In [27]:
pop1000books.book_id_title

0                         3636.The_Giver_(The_Giver,_#1)
1                            11387515.Wonder_(Wonder_#1)
2      5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...
3                               157993.The_Little_Prince
4                                38709.Holes_(Holes,_#1)
                             ...
992                               3231457.Chicken_Cheeks
991                             22504710.Castle_Hangnail
998    774600.In_the_Year_of_the_Boar_and_Jackie_Robi...
997        6081980.The_Chestnut_King_(100_Cupboards,_#3)
999                      773514.Emily_Climbs_(Emily,_#2)
Name: book_id_title, Length: 1000, dtype: object

# WEBSCRAPING THE AUTHORS WITH BEAUTIFULSOUP

In [28]:
import argparse
from datetime import datetime
import os
import re
import time

from urllib.request import urlopen
from urllib.error import HTTPError
import bs4

In [29]:
data=pd.read_csv('1000titlestoscrap.csv')

In [27]:
data

                                         book_id_title
0                       3636.The_Giver_(The_Giver,_#1)
1                          11387515.Wonder_(Wonder_#1)
2    5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...
3                             157993.The_Little_Prince
4                              38709.Holes_(Holes,_#1)
..                                                 ...
995                             3231457.Chicken_Cheeks
996                           22504710.Castle_Hangnail
997  774600.In_the_Year_of_the_Boar_and_Jackie_Robi...
998      6081980.The_Chestnut_King_(100_Cupboards,_#3)
999                    773514.Emily_Climbs_(Emily,_#2)

[1000 rows x 1 columns]

def scrape_authors(book_id):
    url = 'https://www.goodreads.com/book/show/' + book_id
    try:
        source = urlopen(url)
        soup = bs4.BeautifulSoup(source, 'html.parser')
        print(book_id)
        print('----------------------')
        time.sleep(2)
        authors = ' '.join(soup.find('span', {'itemprop': 'name'}).text.split())
        scraped = [authors]
        return scraped
    except:
        authors = 'None'
        scraped = [authors]
        return scraped

book_id = '3636.The_Giver'
url = 'https://www.goodreads.com/book/show/' + book_id
source = urlopen(url)
soup = bs4.BeautifulSoup(source, 'html.parser')

#DON'T RUN THIS CODE!!!! It takes ages. Go to the step 4:Importing the 1000 books with authors

data['scraped'] = data['book_id_title'].apply(lambda x: scrape_authors(x))

data['scraped']

In [32]:
data

,book_id_title,scraped
0,"3636.The_Giver_(The_Giver,_#1)",[Lois Lowry]
1,11387515.Wonder_(Wonder_#1),[R.J. Palacio]
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,[J.K. Rowling]
3,157993.The_Little_Prince,[Antoine de Saint-Exupéry]
4,"38709.Holes_(Holes,_#1)",[None]
...,...,...
995,3231457.Chicken_Cheeks,[Michael Ian Black]
996,22504710.Castle_Hangnail,[Ursula Vernon]
997,774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,[Bette Bao Lord]
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",[N.D. Wilson]
999,"773514.Emily_Climbs_(Emily,_#2)",[L.M. Montgomery]

In [33]:
data_b = data.scraped.apply(pd.Series)
data_b.columns = ['author']

In [34]:
data_b

                       author
0                  Lois Lowry
1                R.J. Palacio
2                J.K. Rowling
3    Antoine de Saint-Exupéry
4                        None
..                        ...
995         Michael Ian Black
996             Ursula Vernon
997            Bette Bao Lord
998               N.D. Wilson
999           L.M. Montgomery

[1000 rows x 1 columns]

In [35]:
data_c = data_b["author"].str.split(expand=True)
data_c.columns = ['first_name', 'second_name', 'third_name','last_name']

In [36]:
data_c

    first_name second_name     third_name last_name
0         Lois       Lowry           None      None
1         R.J.     Palacio           None      None
2         J.K.     Rowling           None      None
3      Antoine          de  Saint-Exupéry      None
4         None        None           None      None
..         ...         ...            ...       ...
995    Michael         Ian          Black      None
996     Ursula      Vernon           None      None
997      Bette         Bao           Lord      None
998       N.D.      Wilson           None      None
999       L.M.  Montgomery           None      None

[1000 rows x 4 columns]

In [37]:
data1=data_c.drop(['second_name', 'third_name','last_name'],axis=1)

In [38]:
data1

    first_name
0         Lois
1         R.J.
2         J.K.
3      Antoine
4         None
..         ...
995    Michael
996     Ursula
997      Bette
998       N.D.
999       L.M.

[1000 rows x 1 columns]

In [39]:
pop1000authors=pd.concat([data,data_b,data1],axis=1)

In [40]:
pop1000authors=pop1000authors.drop(['scraped'],axis=1)

#DON'T RUN THIS CODE!!!!
pop1000authors.to_csv('pop1000authorsfinal2.csv',index=False)

# IMPORTING THE 1000 BOOKS WITH SCRAPED AUTHORS

In [30]:
pop1000authors = pd.read_csv('pop1000authorsfinal2.csv')

In [31]:
pop1000authors.tail(3)

,book_id_title,author,first_name
997,774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,Bette Bao Lord,Bette
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.
999,"773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.

## Filling manually some authors not correctly scraped

In [32]:
pop1000authors[pop1000authors.author=='None'].count()

book_id_title    27
author           27
first_name       27
dtype: int64

In [33]:
pop1000authors[pop1000authors.author=='None']

                                         book_id_title author first_name
4                              38709.Holes_(Holes,_#1)   None       None
49   16054808.Escape_from_Mr._Lemoncello's_Library_...   None       None
91      7783920.Because_of_Mr._Terupt_(Mr._Terupt,_#1)   None       None
154  207802.Ida_B._._._and_Her_Plans_to_Maximize_Fu...   None       None
190  13083239.The_Fantastic_Flying_Books_of_Mr._Mor...   None       None
200  958277.Junie_B._Jones_and_the__Stupid_Smelly_B...   None       None
285                                  9642662.Me...Jane   None       None
293                              17165875.Mr._Wuffles!   None       None
303  25051.Mrs._Piggle-Wiggle_(Mrs._Piggle_Wiggle,_#1)   None       None
309  160943.Martin's_Big_Words:_The_Life_of_Dr._Mar...   None       None
372  18405521.Separate_Is_Never_Equal:_Sylvia_Ménde...   None       None
375                      27064348.Ms._Bixby's_Last_Day   None       None
376  25387393.Mr._Lemoncello's_Library_Olympics_(Mr...   None       None
436                       17333265.Mr._Tiger_Goes_Wild   None       None
446                         361487.Becoming_Naomi_León   None       None
453                           26244910.Thunder_Boy_Jr.   None       None
469  10886703.Nicholas_St._North_and_the_Battle_of_...   None       None
499  20758093.365_Days_of_Wonder:_Mr._Browne's_Book...   None       None
519  25817074.All_Rise_for_the_Honorable_Perry_T._Cook   None       None
659   13414963.Mr._Terupt_Falls_Again_(Mr._Terupt,_#2)   None       None
668                            7128581.Shark_vs._Train   None       None
674  8366238.The_Trouble_With_Chickens_(J.J._Tully_...   None       None
685  18349884.My_Teacher_Is_a_Monster!_(No,_I_Am_Not.)   None       None
697                         22323647.Please,_Mr._Panda   None       None
759  11148223.Mr._and_Mrs._Bunny—Detectives_Extraor...   None       None
850  914519.Junie_B._Jones_Loves_Handsome_Warren_(J...   None       None
871  196283.Junie_B._Jones_and_the_Mushy_Gushy_Vale...   None       None

In [34]:
export27authorstofill=pop1000authors[pop1000authors.author=='None']

In [35]:
export27authorstofill.to_csv('27authorstofill.csv')

In [36]:
pop27authors = pd.read_csv('27authorsupdated.csv')

In [37]:
pop27authors

,Unnamed: 0,book_id_title,author,first_name
0,4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis
1,49,16054808-escape-from-mr-lemoncello-s-library,Chris Grabenstein,Chris
2,91,7783920-because-of-mr-terupt,Rob Buyea,Rob
3,154,207802.Ida_B_and_Her_Plans_to_Maximize_Fun_Avo...,Katherine Hannigan,Katherine
4,190,13083239-the-fantastic-flying-books-of-mr-morr...,William Joyce,William
5,200,958277.Junie_B_Jones_and_the_Stupid_Smelly_Bus,Barbara Park,Barbara
6,285,9642662-me-jane,Patrick McDonnell,Patrick
7,293,17165875-mr-wuffles,David Wiesner,David
8,303,25051.Mrs_Piggle_Wiggle,Betty MacDonald,Betty
9,309,160943.Martin_s_Big_Words,Doreen Rappaport,Doreen
10,372,18405521-separate-is-never-equal,Duncan Tonatiuh,Duncan
11,375,27064348.Ms._Bixby's_Last_Day,John David Anderson,John
12,376,25387393-mr-lemoncello-s-library-olympics,Chris Grabenstein,Chris
13,436,17333265-mr-tiger-goes-wild,Peter Brown,Peter
14,446,361487.Becoming_Naomi_Le_n,Pam Muñoz Ryan,Pam
15,453,26244910-thunder-boy-jr,Sherman Alexie,Sherman
16,469,10886703-nicholas-st-north-and-the-battle-of-t...,William Joyce,William
17,499,20758093-365-days-of-wonder,Raquel.J. Palacio,Raquel
18,519,25817074-all-rise-for-the-honorable-perry-t-cook,Leslie Connor,Leslie
19,659,13414963-mr-terupt-falls-again,Rob Buyea,Rob
20,668,7128581-shark-vs-train,Chris Barton,Chris
21,674,8366238-the-trouble-with-chickens,Doreen Cronin,Doreen
22,685,18349884-my-teacher-is-a-monster,Peter Brown,Peter
23,697,22323647-please-mr-panda,Steve Antony,Steve
24,759,11148223-mr-and-mrs-bunny-detectives-extraordi...,Polly Horvath,Polly
25,850,914519.Junie_B_Jones_Loves_Handsome_Warren,Barbara Park,Barbara
26,871,196283.Junie_B_Jones_and_the_Mushy_Gushy_Valen...,Barbara Park,Barbara

In [38]:
pop27authors.set_index('Unnamed: 0',inplace=True)

In [39]:
pop27authors=pop27authors.rename_axis(None, axis = 0)

In [40]:
pop27authors

,book_id_title,author,first_name
4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis
49,16054808-escape-from-mr-lemoncello-s-library,Chris Grabenstein,Chris
91,7783920-because-of-mr-terupt,Rob Buyea,Rob
154,207802.Ida_B_and_Her_Plans_to_Maximize_Fun_Avo...,Katherine Hannigan,Katherine
190,13083239-the-fantastic-flying-books-of-mr-morr...,William Joyce,William
200,958277.Junie_B_Jones_and_the_Stupid_Smelly_Bus,Barbara Park,Barbara
285,9642662-me-jane,Patrick McDonnell,Patrick
293,17165875-mr-wuffles,David Wiesner,David
303,25051.Mrs_Piggle_Wiggle,Betty MacDonald,Betty
309,160943.Martin_s_Big_Words,Doreen Rappaport,Doreen
372,18405521-separate-is-never-equal,Duncan Tonatiuh,Duncan
375,27064348.Ms._Bixby's_Last_Day,John David Anderson,John
376,25387393-mr-lemoncello-s-library-olympics,Chris Grabenstein,Chris
436,17333265-mr-tiger-goes-wild,Peter Brown,Peter
446,361487.Becoming_Naomi_Le_n,Pam Muñoz Ryan,Pam
453,26244910-thunder-boy-jr,Sherman Alexie,Sherman
469,10886703-nicholas-st-north-and-the-battle-of-t...,William Joyce,William
499,20758093-365-days-of-wonder,Raquel.J. Palacio,Raquel
519,25817074-all-rise-for-the-honorable-perry-t-cook,Leslie Connor,Leslie
659,13414963-mr-terupt-falls-again,Rob Buyea,Rob
668,7128581-shark-vs-train,Chris Barton,Chris
674,8366238-the-trouble-with-chickens,Doreen Cronin,Doreen
685,18349884-my-teacher-is-a-monster,Peter Brown,Peter
697,22323647-please-mr-panda,Steve Antony,Steve
759,11148223-mr-and-mrs-bunny-detectives-extraordi...,Polly Horvath,Polly
850,914519.Junie_B_Jones_Loves_Handsome_Warren,Barbara Park,Barbara
871,196283.Junie_B_Jones_and_the_Mushy_Gushy_Valen...,Barbara Park,Barbara

In [41]:
pop1000authors.loc[pop27authors.index] = pop27authors

In [42]:
pop1000authors

,book_id_title,author,first_name
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois
1,11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.
3,157993.The_Little_Prince,Antoine de Saint-Exupéry,Antoine
4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis
...,...,...,...
995,3231457.Chicken_Cheeks,Michael Ian Black,Michael
996,22504710.Castle_Hangnail,Ursula Vernon,Ursula
997,774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,Bette Bao Lord,Bette
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.
999,"773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.

In [43]:
pop1000authors.shape

(1000, 3)

In [44]:
pop1000authors[pop1000authors.author=='None']

Empty DataFrame
Columns: [book_id_title, author, first_name]
Index: []

# GENDERIZE

In [ ]:
#!pip install genderize

In [61]:
from genderize import Genderize

In [62]:
import os
directory = '../output'

if not os.path.exists(directory):
    os.makedirs(directory)

In [63]:
pop1000authors.first_name

0         Lois
1         R.J.
2         J.K.
3      Antoine
4        Louis
        ...
995    Michael
996     Ursula
997      Bette
998       N.D.
999       L.M.
Name: first_name, Length: 1000, dtype: object

In [65]:
# Run this code just once a day
gender = Genderize().get(list(pop1000authors.first_name))

In [66]:
gender

[{'name': 'Lois', 'gender': 'female', 'probability': 0.58, 'count': 2510},
 {'name': 'R.J.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'J.K.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Antoine', 'gender': 'male', 'probability': 0.99, 'count': 38236},
 {'name': 'Louis', 'gender': 'male', 'probability': 0.97, 'count': 26805},
 {'name': 'Shel', 'gender': 'female', 'probability': 0.78, 'count': 169},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Brian', 'gender': 'male', 'probability': 0.99, 'count': 51483},
 {'name': 'E.B.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'L.M.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Katherine', 'gender': 'female', 'probability': 0.98, 'count': 8451},
 {'name': 'Frances', 'gender': 'female', 'probability': 0.88, 'count': 3173},
 {'name': 'Gary', 'gender': 'male', 'probability': 0.99, 'count': 29381},
 {'name': 'Shel', 'gender': 'female', 'probability': 0.78, 'count': 169},
 {'name': 'Maurice', 'gender': 'male', 'probability': 0.98, 'count': 16593},
 {'name': 'Wilson', 'gender': 'male', 'probability': 0.98, 'count': 11567},
 {'name': 'Trenton', 'gender': 'male', 'probability': 1.0, 'count': 141},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Norton', 'gender': 'male', 'probability': 0.96, 'count': 300},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'L.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Jack', 'gender': 'male', 'probability': 0.98, 'count': 63210},
 {'name': 'Eric', 'gender': 'male', 'probability': 0.99, 'count': 135071},
 {'name': 'Lewis', 'gender': 'male', 'probability': 0.98, 'count': 6377},
 {'name': 'Sharon', 'gender': 'female', 'probability': 0.98, 'count': 33532},
 {'name': 'Jane', 'gender': 'female', 'probability': 0.97, 'count': 36653},
 {'name': 'Margaret', 'gender': 'female', 'probability': 0.99, 'count': 17172},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Neil', 'gender': 'male', 'probability': 0.99, 'count': 15028},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Jostein', 'gender': 'male', 'probability': 0.98, 'count': 167},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Margaret', 'gender': 'female', 'probability': 0.99, 'count': 17172},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Judy', 'gender': 'female', 'probability': 0.95, 'count': 6014},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Rick', 'gender': 'male', 'probability': 0.99, 'count': 16772},
 {'name': 'Dave', 'gender': 'male', 'probability': 0.99, 'count': 47377},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Cynthia', 'gender': 'female', 'probability': 0.99, 'count': 31660},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Frances', 'gender': 'female', 'probability': 0.88, 'count': 3173},
 {'name': 'Jeanne', 'gender': 'female', 'probability': 0.97, 'count': 11311},
 {'name': 'Sharon', 'gender': 'female', 'probability': 0.98, 'count': 33532},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'C.S.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Drew', 'gender': 'male', 'probability': 0.95, 'count': 3330},
 {'name': 'Grace', 'gender': 'female', 'probability': 0.97, 'count': 20056},
 {'name': 'Carl', 'gender': 'male', 'probability': 0.98, 'count': 17561},
 {'name': 'Bill', 'gender': 'male', 'probability': 0.97, 'count': 15510},
 {'name': 'Laura', 'gender': 'female', 'probability': 0.98, 'count': 288403},
 {'name': 'Alex', 'gender': 'male', 'probability': 0.9, 'count': 411319},
 {'name': 'Lynda', 'gender': 'female', 'probability': 0.98, 'count': 7254},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Cornelia', 'gender': 'female', 'probability': 0.98, 'count': 7223},
 {'name': 'C.S.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Holly', 'gender': 'female', 'probability': 0.87, 'count': 4247},
 {'name': 'Laura', 'gender': 'female', 'probability': 0.98, 'count': 288403},
 {'name': 'Adam', 'gender': 'male', 'probability': 0.98, 'count': 116396},
 {'name': 'Pseudonymous', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Tom', 'gender': 'male', 'probability': 0.99, 'count': 126230},
 {'name': 'Laura', 'gender': 'female', 'probability': 0.98, 'count': 288403},
 {'name': 'Kenneth', 'gender': 'male', 'probability': 0.98, 'count': 20666},
 {'name': 'Anna', 'gender': 'female', 'probability': 0.98, 'count': 383713},
 {'name': 'Sara', 'gender': 'female', 'probability': 0.98, 'count': 244324},
 {'name': 'P.L.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Michael', 'gender': 'male', 'probability': 0.99, 'count': 245870},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Mo', 'gender': 'male', 'probability': 0.8, 'count': 8929},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'L.M.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Cressida', 'gender': 'female', 'probability': 0.95, 'count': 44},
 {'name': 'Tony', 'gender': 'male', 'probability': 0.98, 'count': 128022},
 {'name': 'Jon', 'gender': 'male', 'probability': 0.98, 'count': 29554},
 {'name': 'Adam', 'gender': 'male', 'probability': 0.98, 'count': 116396},
 {'name': 'Jon', 'gender': 'male', 'probability': 0.98, 'count': 29554},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Rob', 'gender': 'male', 'probability': 0.98, 'count': 32016},
 {'name': 'Jerry', 'gender': 'male', 'probability': 0.97, 'count': 19532},
 {'name': 'Jon', 'gender': 'male', 'probability': 0.98, 'count': 29554},
 {'name': 'Ezra', 'gender': 'male', 'probability': 0.75, 'count': 885},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'B.J.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Ann', 'gender': 'female', 'probability': 0.97, 'count': 28026},
 {'name': 'Rachel', 'gender': 'female', 'probability': 0.98, 'count': 28052},
 {'name': 'Jon', 'gender': 'male', 'probability': 0.98, 'count': 29554},
 {'name': 'Doreen', 'gender': 'female', 'probability': 0.97, 'count': 6429},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Ali', 'gender': 'male', 'probability': 0.95, 'count': 319583},
 {'name': 'Shel', 'gender': 'female', 'probability': 0.78, 'count': 169},
 {'name': 'Judith', 'gender': 'female', 'probability': 0.98, 'count': 19741},
 {'name': 'A.A.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Cornelia', 'gender': 'female', 'probability': 0.98, 'count': 7223},
 {'name': 'Gertrude', 'gender': 'female', 'probability': 0.94, 'count': 2299},
 {'name': 'Sheila', 'gender': 'female', 'probability': 0.99, 'count': 17390},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Robert', 'gender': 'male', 'probability': 0.99, 'count': 177418},
 {'name': 'Margery', 'gender': 'female', 'probability': 0.94, 'count': 103},
 {'name': 'Jean', 'gender': 'male', 'probability': 0.95, 'count': 196185},
 {'name': 'Wendy', 'gender': 'female', 'probability': 0.97, 'count': 25729},
 {'name': 'Astrid', 'gender': 'female', 'probability': 0.97, 'count': 12499},
 {'name': 'Rebecca', 'gender': 'female', 'probability': 0.98, 'count': 36835},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'L.M.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Katherine', 'gender': 'female', 'probability': 0.98, 'count': 8451},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Trenton', 'gender': 'male', 'probability': 1.0, 'count': 141},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Eleanor', 'gender': 'female', 'probability': 0.98, 'count': 2356},
 {'name': 'Maryrose', 'gender': 'female', 'probability': 0.98, 'count': 250},
 {'name': 'Johanna', 'gender': 'female', 'probability': 0.97, 'count': 25767},
 {'name': 'E.B.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Blue', 'gender': 'male', 'probability': 0.65, 'count': 6756},
 {'name': 'Richard', 'gender': 'male', 'probability': 0.99, 'count': 101928},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Jessica', 'gender': 'female', 'probability': 0.98, 'count': 144795},
 {'name': 'Marcus', 'gender': 'male', 'probability': 0.99, 'count': 28005},
 {'name': 'Mary', 'gender': 'female', 'probability': 0.99, 'count': 142684},
 {'name': 'Dr.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Judy', 'gender': 'female', 'probability': 0.95, 'count': 6014},
 {'name': 'Jane', 'gender': 'female', 'probability': 0.97, 'count': 36653},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'Louise', 'gender': 'female', 'probability': 0.97, 'count': 23447},
 {'name': 'Barbara', 'gender': 'female', 'probability': 0.98, 'count': 94709},
 {'name': 'John', 'gender': 'male', 'probability': 0.99, 'count': 218952},
 {'name': 'Judi', 'gender': 'female', 'probability': 0.7, 'count': 869},
 {'name': 'Patricia',
  'gender': 'female',
  'probability': 0.98,
  'count': 132232},
 {'name': 'Jeff', 'gender': 'male', 'probability': 0.99, 'count': 32948},
 {'name': 'Richard', 'gender': 'male', 'probability': 0.99, 'count': 101928},
 {'name': 'Matt', 'gender': 'male', 'probability': 0.99, 'count': 38275},
 {'name': 'P.D.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Anne', 'gender': 'female', 'probability': 0.97, 'count': 78727},
 {'name': 'Lois', 'gender': 'female', 'probability': 0.58, 'count': 2510},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Neil', 'gender': 'male', 'probability': 0.99, 'count': 15028},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'Katherine', 'gender': 'female', 'probability': 0.98, 'count': 8451},
 {'name': 'Dan', 'gender': 'male', 'probability': 0.95, 'count': 55986},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Deborah', 'gender': 'female', 'probability': 0.99, 'count': 33214},
 {'name': 'E.L.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Kathi', 'gender': 'female', 'probability': 0.97, 'count': 4076},
 {'name': 'Carolyn', 'gender': 'female', 'probability': 0.98, 'count': 2993},
 {'name': 'Kevin', 'gender': 'male', 'probability': 0.99, 'count': 157365},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Phyllis', 'gender': 'female', 'probability': 0.97, 'count': 1067},
 {'name': 'Jerry', 'gender': 'male', 'probability': 0.97, 'count': 19532},
 {'name': 'Dav', 'gender': 'male', 'probability': 0.97, 'count': 6519},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Louis', 'gender': 'male', 'probability': 0.97, 'count': 26805},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'R.J.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Jennifer', 'gender': 'female', 'probability': 0.98, 'count': 90255},
 {'name': 'Liesl', 'gender': 'female', 'probability': 0.97, 'count': 203},
 {'name': 'Sara', 'gender': 'female', 'probability': 0.98, 'count': 244324},
 {'name': 'Aaron', 'gender': 'male', 'probability': 0.99, 'count': 24633},
 {'name': 'Melissa', 'gender': 'female', 'probability': 0.99, 'count': 63975},
 {'name': 'Liz', 'gender': 'female', 'probability': 0.98, 'count': 11127},
 {'name': 'Crockett', 'gender': 'male', 'probability': 0.92, 'count': 37},
 {'name': 'Rudyard', 'gender': 'male', 'probability': 1.0, 'count': 32},
 {'name': 'Hervé', 'gender': 'male', 'probability': 1.0, 'count': 13},
 {'name': 'Mary', 'gender': 'female', 'probability': 0.99, 'count': 142684},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Natalie', 'gender': 'female', 'probability': 0.98, 'count': 22384},
 {'name': 'Richard', 'gender': 'male', 'probability': 0.99, 'count': 101928},
 {'name': 'Peter', 'gender': 'male', 'probability': 0.99, 'count': 165452},
 {'name': 'E.B.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Lynne', 'gender': 'female', 'probability': 0.98, 'count': 2892},
 {'name': 'William', 'gender': 'male', 'probability': 0.99, 'count': 64097},
 {'name': 'Gordon', 'gender': 'male', 'probability': 0.99, 'count': 6411},
 {'name': 'Wendy', 'gender': 'female', 'probability': 0.97, 'count': 25729},
 {'name': 'L.M.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Kevin', 'gender': 'male', 'probability': 0.99, 'count': 157365},
 {'name': 'Robert', 'gender': 'male', 'probability': 0.99, 'count': 177418},
 {'name': 'Fred', 'gender': 'male', 'probability': 0.96, 'count': 73886},
 {'name': 'Alvin', 'gender': 'male', 'probability': 0.99, 'count': 7714},
 {'name': 'Lewis', 'gender': 'male', 'probability': 0.98, 'count': 6377},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Barbara', 'gender': 'female', 'probability': 0.98, 'count': 94709},
 {'name': 'Ludwig', 'gender': 'male', 'probability': 0.99, 'count': 2983},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'R.J.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Eric', 'gender': 'male', 'probability': 0.99, 'count': 135071},
 {'name': 'Susan', 'gender': 'female', 'probability': 0.98, 'count': 32184},
 {'name': 'Johann', 'gender': 'male', 'probability': 0.99, 'count': 10448},
 {'name': 'Susan', 'gender': 'female', 'probability': 0.98, 'count': 32184},
 {'name': 'Ian', 'gender': 'male', 'probability': 0.99, 'count': 27117},
 {'name': 'Mac', 'gender': 'male', 'probability': 0.92, 'count': 6904},
 {'name': 'Audrey', 'gender': 'female', 'probability': 0.97, 'count': 54814},
 {'name': 'Beverly', 'gender': 'female', 'probability': 0.96, 'count': 3274},
 {'name': 'Lindsay', 'gender': 'female', 'probability': 0.91, 'count': 5934},
 {'name': 'Beatrix', 'gender': 'female', 'probability': 0.99, 'count': 4512},
 {'name': 'Lauren', 'gender': 'female', 'probability': 0.9, 'count': 8924},
 {'name': 'Tetsuko', 'gender': 'female', 'probability': 0.83, 'count': 6},
 {'name': 'Ellen', 'gender': 'female', 'probability': 0.98, 'count': 11562},
 {'name': 'P.D.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Drew', 'gender': 'male', 'probability': 0.95, 'count': 3330},
 {'name': 'Jean', 'gender': 'male', 'probability': 0.95, 'count': 196185},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Lemony', 'gender': 'female', 'probability': 0.59, 'count': 17},
 {'name': 'Avery', 'gender': 'male', 'probability': 0.67, 'count': 263},
 {'name': 'Mary', 'gender': 'female', 'probability': 0.99, 'count': 142684},
 {'name': 'L.M.', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'Dan', 'gender': 'male', 'probability': 0.95, 'count': 55986},
 {'name': 'Christopher',
  'gender': 'male',
  'probability': 0.99,
  'count': 53539},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Erin', 'gender': 'female', 'probability': 0.77, 'count': 3169},
 {'name': 'Robert', 'gender': 'male', 'probability': 0.99, 'count': 177418},
 {'name': 'Cassie', 'gender': 'female', 'probability': 0.95, 'count': 2186},
 {'name': 'Ruth', 'gender': 'female', 'probability': 0.98, 'count': 28718},
 {'name': 'Beverly', 'gender': 'female', 'probability': 0.96, 'count': 3274},
 {'name': 'William', 'gender': 'male', 'probability': 0.99, 'count': 64097},
 {'name': 'Beverly', 'gender': 'female', 'probability': 0.96, 'count': 3274},
 {'name': 'Chris', 'gender': 'male', 'probability': 0.9, 'count': 156083},
 {'name': 'Jacob', 'gender': 'male', 'probability': 0.99, 'count': 15119},
 {'name': 'Mo', 'gender': 'male', 'probability': 0.8, 'count': 8929},
 {'name': 'James', 'gender': 'male', 'probability': 0.99, 'count': 117309},
 {'name': 'Kate', 'gender': 'female', 'probability': 0.98, 'count': 38791},
 {'name': 'Sam', 'gender': 'male', 'probability': 0.81, 'count': 96261},
 {'name': 'Munro', 'gender': 'male', 'probability': 0.96, 'count': 23},
 {'name': 'Janell', 'gender': 'female', 'probability': 0.9, 'count': 104},
 {'name': 'Jacqueline',
  'gender': 'female',
  'probability': 0.98,
  'count': 29511},
 {'name': 'Edward', 'gender': 'male', 'probability': 0.99, 'count': 22248},
 {'name': 'Aaron', 'gender': 'male', 'probability': 0.99, 'count': 24633},
 {'name': 'Jerry', 'gender': 'male', 'probability': 0.97, 'count': 19532},
 {'name': 'David', 'gender': 'male', 'probability': 0.99, 'count': 501011},
 {'name': 'Allen', 'gender': 'male', 'probability': 0.93, 'count': 6769},
 {'name': 'Gordon', 'gender': 'male', 'probability': 0.99, 'count': 6411},
 {'name': 'Esphyr', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'George', 'gender': 'male', 'probability': 0.98, 'count': 65488},
 {'name': 'Kathryn', 'gender': 'female', 'probability': 0.98, 'count': 2307},
 {'name': 'Ann', 'gender': 'female', 'probability': 0.97, 'count': 28026},
 {'name': 'Brian', 'gender': 'male', 'probability': 0.99, 'count': 51483},
 {'name': 'Judy', 'gender': 'female', 'probability': 0.95, 'count': 6014},
 {'name': 'Roald', 'gender': 'male', 'probability': 1.0, 'count': 291},
 {'name': 'Harry', 'gender': 'male', 'probability': 0.98, 'count': 24264},
 {'name': 'Susan', 'gender': 'female', 'probability': 0.98, 'count': 32184},
 {'name': 'Norton', 'gender': 'male', 'probability': 0.96, 'count': 300},
 {'name': 'Tui', 'gender': 'male', 'probability': 0.66, 'count': 418},
 {'name': 'Eleanor', 'gender': 'female', 'probability': 0.98, 'count': 2356},
 {'name': 'Sharon', 'gender': 'female', 'probability': 0.98, 'count': 33532},
 {'name': 'Adam', 'gender': 'male', 'probability': 0.98, 'count': 116396},
 {'name': 'Carolyn', 'gender': 'female', 'probability': 0.98, 'count': 2993},
 {'name': 'Linda', 'gender': 'female', 'probability': 0.98, 'count': 99198},
 {'name': 'Audrey', 'gender': 'female', 'probability': 0.97, 'count': 54814},

In [67]:
#Re-arrange eveything into a dataframe
gender = pd.DataFrame(gender).iloc[:,0:3]
gender.columns = ['first_name', 'gender', 'probability']

In [68]:
gender

    first_name  gender  probability
0         Lois  female         0.58
1         R.J.    None         0.00
2         J.K.    None         0.00
3      Antoine    male         0.99
4        Louis    male         0.97
..         ...     ...          ...
995    Michael    male         0.99
996     Ursula  female         0.98
997      Bette  female         0.89
998       N.D.    None         0.00
999       L.M.    None         0.00

[1000 rows x 3 columns]

In [75]:
gender.to_csv('gender2.csv', index=False)

In [45]:
gender=pd.read_csv('gender2.csv')

In [46]:
pop1000authors.head()

,book_id_title,author,first_name
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois
1,11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.
3,157993.The_Little_Prince,Antoine de Saint-Exupéry,Antoine
4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis

In [47]:
# Merge both dataframes
final_1000authors = pd.concat([pop1000authors,gender],axis=1)
final_1000authors

,book_id_title,author,first_name,first_name,gender,probability
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois,Lois,female,0.58
1,11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.,R.J.,NaN,0.00
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.,J.K.,NaN,0.00
3,157993.The_Little_Prince,Antoine de Saint-Exupéry,Antoine,Antoine,male,0.99
4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis,Louis,male,0.97
...,...,...,...,...,...,...
995,3231457.Chicken_Cheeks,Michael Ian Black,Michael,Michael,male,0.99
996,22504710.Castle_Hangnail,Ursula Vernon,Ursula,Ursula,female,0.98
997,774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,Bette Bao Lord,Bette,Bette,female,0.89
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.,N.D.,NaN,0.00
999,"773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.,L.M.,NaN,0.00

In [48]:
final_1000authors= final_1000authors.loc[:,~final_1000authors.columns.duplicated()]

In [49]:
final_1000authors.gender.isnull().sum()

71

In [52]:
final_1000authors.gender=final_1000authors.gender.fillna('unknown')

In [53]:
final_1000authors.gender.value_counts()

female     470
male       459
unknown     71
Name: gender, dtype: int64

In [54]:
final_1000authors.to_csv('final_1000authors_gender2', index=False)

In [55]:
final_1000authors[(final_1000authors.probability > 0) & (final_1000authors.probability < 0.80)]

,book_id_title,author,first_name,gender,probability
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois,female,0.58
5,370493.The_Giving_Tree,Shel Silverstein,Shel,female,0.78
9,78411.The_Bad_Beginning_(A_Series_of_Unfortuna...,Lemony Snicket,Lemony,female,0.59
14,30119.Where_the_Sidewalk_Ends,Shel Silverstein,Shel,female,0.78
42,78418.The_Reptile_Room_(A_Series_of_Unfortunat...,Lemony Snicket,Lemony,female,0.59
55,438492.The_Wide_Window_(A_Series_of_Unfortunat...,Lemony Snicket,Lemony,female,0.59
67,"65112.The_End_(A_Series_of_Unfortunate_Events,...",Lemony Snicket,Lemony,female,0.59
84,65119.The_Miserable_Mill_(A_Series_of_Unfortun...,Lemony Snicket,Lemony,female,0.59
90,131123.The_Austere_Academy_(A_Series_of_Unfort...,Lemony Snicket,Lemony,female,0.59
94,310258.The_Snowy_Day,Ezra Jack Keats,Ezra,male,0.75
103,30118.A_Light_in_the_Attic,Shel Silverstein,Shel,female,0.78
120,172327.The_Ersatz_Elevator_(A_Series_of_Unfort...,Lemony Snicket,Lemony,female,0.59
123,13477819.Who_Could_That_Be_at_This_Hour?_(All_...,Lemony Snicket,Lemony,female,0.59
130,"444347.Chasing_Vermeer_(Chasing_Vermeer,_#1)",Blue Balliett,Blue,male,0.65
143,8073.Cloudy_With_a_Chance_of_Meatballs,Judi Barrett,Judi,female,0.70
150,2114086.The_Willoughbys,Lois Lowry,Lois,female,0.58
159,150037.The_Vile_Village_(A_Series_of_Unfortuna...,Lemony Snicket,Lemony,female,0.59
167,324277.The_Carnivorous_Carnival_(A_Series_of_U...,Lemony Snicket,Lemony,female,0.59
168,297792.The_Slippery_Slope_(A_Series_of_Unfortu...,Lemony Snicket,Lemony,female,0.59
182,65110.The_Penultimate_Peril_(A_Series_of_Unfor...,Lemony Snicket,Lemony,female,0.59
184,65111.The_Grim_Grotto_(A_Series_of_Unfortunate...,Lemony Snicket,Lemony,female,0.59
220,65118.The_Hostile_Hospital_(A_Series_of_Unfort...,Lemony Snicket,Lemony,female,0.59
221,15790852.The_Dark,Lemony Snicket,Lemony,female,0.59
222,8044557.All_My_Friends_Are_Dead,Avery Monsen,Avery,male,0.67
228,"275000.Fire_and_Ice_(Warriors,_#2)",Erin Hunter,Erin,female,0.77
260,"13228487.The_Dragonet_Prophecy_(Wings_of_Fire,...",Tui T. Sutherland,Tui,male,0.66
270,18053786.The_Storybook_of_Legends_(Ever_After_...,Shannon Hale,Shannon,female,0.78
277,20708771.The_Princess_in_Black_(The_Princess_i...,Shannon Hale,Shannon,female,0.78
313,65113.A_Series_of_Unfortunate_Events_Box:_The_...,Lemony Snicket,Lemony,female,0.59
348,581409.Strega_Nona,Tomie dePaola,Tomie,female,0.57
366,18383325.The_Most_Magnificent_Thing,Ashley Spires,Ashley,female,0.61
379,20696727.The_Right_Word:_Roget_and_His_Thesaurus,Jen Bryant,Jen,female,0.79
380,7118768.Ninth_Ward,Jewell Parker Rhodes,Jewell,female,0.62
381,36638.The_Wolves_of_Willoughby_Chase_(The_Wolv...,Joan Aiken,Joan,male,0.69
412,"17290220.Rosie_Revere,_Engineer",Andrea Beaty,Andrea,male,0.62
424,"22477286.Listen,_Slowly",Thanhha Lai,Thanhha,female,0.75
433,7926.All-of-a-Kind_Family_(All-of-a-Kind_Famil...,Sydney Taylor,Sydney,male,0.59
461,30122.The_Missing_Piece,Shel Silverstein,Shel,female,0.78
464,857448.Harry_the_Dirty_Dog,Gene Zion,Gene,male,0.63
473,17369219.When_Did_You_See_Her_Last?_(All_the_W...,Lemony Snicket,Lemony,female,0.59
476,867248.Bear_Snores_On,Karma Wilson,Karma,male,0.58
519,25817074-all-rise-for-the-honorable-perry-t-cook,Leslie Connor,Leslie,female,0.77
529,13642600.A_Splash_of_Red:_The_Life_and_Art_of_...,Jen Bryant,Jen,female,0.79
552,885187.The_Doorbell_Rang,Pat Hutchins,Pat,male,0.67
553,25785698.The_Night_Gardener,Terry Fan,Terry,male,0.70
582,10659536.Every_Thing_on_It,Shel Silverstein,Shel,female,0.78
586,15815410.Hold_Fast,Blue Balliett,Blue,male,0.65
588,593236.Runny_Babbit:_A_Billy_Sook,Shel Silverstein,Shel,female,0.78
600,20307024.Wolfie_the_Bunny,Ame Dyckman,Ame,female,0.52
605,78408.Lemony_Snicket:_The_Unauthorized_Autobio...,Lemony Snicket,Lemony,female,0.59
609,12448586.Boy_+_Bot,Ame Dyckman,Ame,female,0.52
671,"2200542.The_Calder_Game_(Chasing_Vermeer,_#3)",Blue Balliett,Blue,male,0.65
692,"6788767.Athena_the_Brain_(Goddess_Girls,_#1)",Joan Holub,Joan,male,0.69
694,28439554.Penguin_Problems,Jory John,Jory,female,0.50
708,"28507895.Ada_Twist,_Scientist",Andrea Beaty,Andrea,male,0.62
712,30125.The_Missing_Piece_Meets_the_Big_O,Shel Silverstein,Shel,female,0.78
772,"25785760.Ida,_Always",Caron Levis,Caron,female,0.64
783,6348133.Binky_the_Space_Cat,Ashley Spires,Ashley,female,0.61
786,23528363.The_Only_Child,Guojing,Guojing,male,0.78
806,10178007.Bigger_than_a_Bread_Box,Laurel Snyder,Laurel,female,0.61
854,843019.Eating_the_Alphabet,Lois Ehlert,Lois,female,0.58
859,30312747.Not_Quite_Narwhal,Jessie Sima,Jessie,female,0.79
865,3265484.The_Composer_is_Dead,Lemony Snicket,Lemony,female,0.59
870,12892470.The_Year_of_the_Book_(Anna_Wang_#1),Andrea Cheng,Andrea,male,0.62
887,15926775.Sophie's_Squash,Pat Zietlow Miller,Pat,male,0.67
897,18754759.Shouldn't_You_Be_in_School?_(All_the_...,Lemony Snicket,Lemony,female,0.59
910,74720.The_Beatrice_Letters,Lemony Snicket,Lemony,female,0.59
918,389623.Diary_of_a_Wombat,Jackie French,Jackie,female,0.79
928,"41861.John,_Paul,_George_&_Ben",Lane Smith,Lane,female,0.56
940,42447.Strawberry_Girl,Lois Lenski,Lois,female,0.58
944,3124179.Ten_Little_Fingers_and_Ten_Little_Toes,Mem Fox,Mem,male,0.61
959,"1969280.Iggy_Peck,_Architect",Andrea Beaty,Andrea,male,0.62
969,2540640.The_Gollywhopper_Games,Jody Feldman,Jody,male,0.53
970,153165.Whoever_You_Are,Mem Fox,Mem,male,0.61
976,835495.Time_for_Bed,Mem Fox,Mem,male,0.61

In [133]:
#final_1000authors.loc[final_1000authors.first_name =='Shel','gender'] ='male'

In [56]:
list_of_values = ['Blue','Tui','Joan','Andrea','Sydney','Karma','Pat','Guojing','Mem','Jody']

final_1000authors.loc[final_1000authors.first_name.isin (list_of_values),'gender']='female'

In [57]:
list_of_values2 = ['Shel','Lemony','Ezra','Tomie','Jory']

final_1000authors.loc[final_1000authors.first_name.isin (list_of_values2),'gender']='male'

In [58]:
final_1000authors[(final_1000authors.probability > 0) & (final_1000authors.probability < 0.80)]

,book_id_title,author,first_name,gender,probability
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois,female,0.58
5,370493.The_Giving_Tree,Shel Silverstein,Shel,male,0.78
9,78411.The_Bad_Beginning_(A_Series_of_Unfortuna...,Lemony Snicket,Lemony,male,0.59
14,30119.Where_the_Sidewalk_Ends,Shel Silverstein,Shel,male,0.78
42,78418.The_Reptile_Room_(A_Series_of_Unfortunat...,Lemony Snicket,Lemony,male,0.59
55,438492.The_Wide_Window_(A_Series_of_Unfortunat...,Lemony Snicket,Lemony,male,0.59
67,"65112.The_End_(A_Series_of_Unfortunate_Events,...",Lemony Snicket,Lemony,male,0.59
84,65119.The_Miserable_Mill_(A_Series_of_Unfortun...,Lemony Snicket,Lemony,male,0.59
90,131123.The_Austere_Academy_(A_Series_of_Unfort...,Lemony Snicket,Lemony,male,0.59
94,310258.The_Snowy_Day,Ezra Jack Keats,Ezra,male,0.75
103,30118.A_Light_in_the_Attic,Shel Silverstein,Shel,male,0.78
120,172327.The_Ersatz_Elevator_(A_Series_of_Unfort...,Lemony Snicket,Lemony,male,0.59
123,13477819.Who_Could_That_Be_at_This_Hour?_(All_...,Lemony Snicket,Lemony,male,0.59
130,"444347.Chasing_Vermeer_(Chasing_Vermeer,_#1)",Blue Balliett,Blue,female,0.65
143,8073.Cloudy_With_a_Chance_of_Meatballs,Judi Barrett,Judi,female,0.70
150,2114086.The_Willoughbys,Lois Lowry,Lois,female,0.58
159,150037.The_Vile_Village_(A_Series_of_Unfortuna...,Lemony Snicket,Lemony,male,0.59
167,324277.The_Carnivorous_Carnival_(A_Series_of_U...,Lemony Snicket,Lemony,male,0.59
168,297792.The_Slippery_Slope_(A_Series_of_Unfortu...,Lemony Snicket,Lemony,male,0.59
182,65110.The_Penultimate_Peril_(A_Series_of_Unfor...,Lemony Snicket,Lemony,male,0.59
184,65111.The_Grim_Grotto_(A_Series_of_Unfortunate...,Lemony Snicket,Lemony,male,0.59
220,65118.The_Hostile_Hospital_(A_Series_of_Unfort...,Lemony Snicket,Lemony,male,0.59
221,15790852.The_Dark,Lemony Snicket,Lemony,male,0.59
222,8044557.All_My_Friends_Are_Dead,Avery Monsen,Avery,male,0.67
228,"275000.Fire_and_Ice_(Warriors,_#2)",Erin Hunter,Erin,female,0.77
260,"13228487.The_Dragonet_Prophecy_(Wings_of_Fire,...",Tui T. Sutherland,Tui,female,0.66
270,18053786.The_Storybook_of_Legends_(Ever_After_...,Shannon Hale,Shannon,female,0.78
277,20708771.The_Princess_in_Black_(The_Princess_i...,Shannon Hale,Shannon,female,0.78
313,65113.A_Series_of_Unfortunate_Events_Box:_The_...,Lemony Snicket,Lemony,male,0.59
348,581409.Strega_Nona,Tomie dePaola,Tomie,male,0.57
366,18383325.The_Most_Magnificent_Thing,Ashley Spires,Ashley,female,0.61
379,20696727.The_Right_Word:_Roget_and_His_Thesaurus,Jen Bryant,Jen,female,0.79
380,7118768.Ninth_Ward,Jewell Parker Rhodes,Jewell,female,0.62
381,36638.The_Wolves_of_Willoughby_Chase_(The_Wolv...,Joan Aiken,Joan,female,0.69
412,"17290220.Rosie_Revere,_Engineer",Andrea Beaty,Andrea,female,0.62
424,"22477286.Listen,_Slowly",Thanhha Lai,Thanhha,female,0.75
433,7926.All-of-a-Kind_Family_(All-of-a-Kind_Famil...,Sydney Taylor,Sydney,female,0.59
461,30122.The_Missing_Piece,Shel Silverstein,Shel,male,0.78
464,857448.Harry_the_Dirty_Dog,Gene Zion,Gene,male,0.63
473,17369219.When_Did_You_See_Her_Last?_(All_the_W...,Lemony Snicket,Lemony,male,0.59
476,867248.Bear_Snores_On,Karma Wilson,Karma,female,0.58
519,25817074-all-rise-for-the-honorable-perry-t-cook,Leslie Connor,Leslie,female,0.77
529,13642600.A_Splash_of_Red:_The_Life_and_Art_of_...,Jen Bryant,Jen,female,0.79
552,885187.The_Doorbell_Rang,Pat Hutchins,Pat,female,0.67
553,25785698.The_Night_Gardener,Terry Fan,Terry,male,0.70
582,10659536.Every_Thing_on_It,Shel Silverstein,Shel,male,0.78
586,15815410.Hold_Fast,Blue Balliett,Blue,female,0.65
588,593236.Runny_Babbit:_A_Billy_Sook,Shel Silverstein,Shel,male,0.78
600,20307024.Wolfie_the_Bunny,Ame Dyckman,Ame,female,0.52
605,78408.Lemony_Snicket:_The_Unauthorized_Autobio...,Lemony Snicket,Lemony,male,0.59
609,12448586.Boy_+_Bot,Ame Dyckman,Ame,female,0.52
671,"2200542.The_Calder_Game_(Chasing_Vermeer,_#3)",Blue Balliett,Blue,female,0.65
692,"6788767.Athena_the_Brain_(Goddess_Girls,_#1)",Joan Holub,Joan,female,0.69
694,28439554.Penguin_Problems,Jory John,Jory,male,0.50
708,"28507895.Ada_Twist,_Scientist",Andrea Beaty,Andrea,female,0.62
712,30125.The_Missing_Piece_Meets_the_Big_O,Shel Silverstein,Shel,male,0.78
772,"25785760.Ida,_Always",Caron Levis,Caron,female,0.64
783,6348133.Binky_the_Space_Cat,Ashley Spires,Ashley,female,0.61
786,23528363.The_Only_Child,Guojing,Guojing,female,0.78
806,10178007.Bigger_than_a_Bread_Box,Laurel Snyder,Laurel,female,0.61
854,843019.Eating_the_Alphabet,Lois Ehlert,Lois,female,0.58
859,30312747.Not_Quite_Narwhal,Jessie Sima,Jessie,female,0.79
865,3265484.The_Composer_is_Dead,Lemony Snicket,Lemony,male,0.59
870,12892470.The_Year_of_the_Book_(Anna_Wang_#1),Andrea Cheng,Andrea,female,0.62
887,15926775.Sophie's_Squash,Pat Zietlow Miller,Pat,female,0.67
897,18754759.Shouldn't_You_Be_in_School?_(All_the_...,Lemony Snicket,Lemony,male,0.59
910,74720.The_Beatrice_Letters,Lemony Snicket,Lemony,male,0.59
918,389623.Diary_of_a_Wombat,Jackie French,Jackie,female,0.79
928,"41861.John,_Paul,_George_&_Ben",Lane Smith,Lane,female,0.56
940,42447.Strawberry_Girl,Lois Lenski,Lois,female,0.58
944,3124179.Ten_Little_Fingers_and_Ten_Little_Toes,Mem Fox,Mem,female,0.61
959,"1969280.Iggy_Peck,_Architect",Andrea Beaty,Andrea,female,0.62
969,2540640.The_Gollywhopper_Games,Jody Feldman,Jody,female,0.53
970,153165.Whoever_You_Are,Mem Fox,Mem,female,0.61
976,835495.Time_for_Bed,Mem Fox,Mem,female,0.61

In [59]:
final_1000authors[final_1000authors.probability == 0]

,book_id_title,author,first_name,gender,probability
1,11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.,unknown,0.0
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.,unknown,0.0
8,24178.Charlotte's_Web,E.B. White,E.B.,unknown,0.0
10,8127.Anne_of_Green_Gables_(Anne_of_Green_Gable...,L.M. Montgomery,L.M.,unknown,0.0
20,23772.Green_Eggs_and_Ham,Dr. Seuss,Dr.,unknown,0.0
24,"236093.The_Wonderful_Wizard_of_Oz_(Oz,_#1)",L. Frank Baum,L.,unknown,0.0
38,233093.The_Cat_in_the_Hat,Dr. Seuss,Dr.,unknown,0.0
46,"191139.Oh,_The_Places_You'll_Go!",Dr. Seuss,Dr.,unknown,0.0
54,140225.The_Voyage_of_the_Dawn_Treader_(Chronic...,C.S. Lewis,C.S.,unknown,0.0
64,7784.The_Lorax,Dr. Seuss,Dr.,unknown,0.0
66,"84369.The_Last_Battle_(Chronicles_of_Narnia,_#7)",C.S. Lewis,C.S.,unknown,0.0
71,1099301.The_Name_of_This_Book_Is_Secret_(Secre...,Pseudonymous Bosch,Pseudonymous,unknown,0.0
77,"152380.Mary_Poppins_(Mary_Poppins,_#1)",P.L. Travers,P.L.,unknown,0.0
82,"77390.Anne_of_Avonlea_(Anne_of_Green_Gables,_#2)",L.M. Montgomery,L.M.,unknown,0.0
96,20821299.The_Book_with_No_Pictures,B.J. Novak,B.J.,unknown,0.0
105,"99107.Winnie-the-Pooh_(Winnie-the-Pooh,_#1)",A.A. Milne,A.A.,unknown,0.0
118,77392.Anne_of_the_Island_(Anne_of_Green_Gables...,L.M. Montgomery,L.M.,unknown,0.0
124,113946.How_the_Grinch_Stole_Christmas!,Dr. Seuss,Dr.,unknown,0.0
128,138959.Stuart_Little,E.B. White,E.B.,unknown,0.0
136,"7770.One_Fish,_Two_Fish,_Red_Fish,_Blue_Fish",Dr. Seuss,Dr.,unknown,0.0
148,197084.Are_You_My_Mother?,P.D. Eastman,P.D.,unknown,0.0
158,4538.The_View_from_Saturday,E.L. Konigsburg,E.L.,unknown,0.0
171,20878809.The_Julian_Chapter,R.J. Palacio,R.J.,unknown,0.0
188,24335.The_Trumpet_of_the_Swan,E.B. White,E.B.,unknown,0.0
193,3579.The_Complete_Anne_of_Green_Gables_Boxed_S...,L.M. Montgomery,L.M.,unknown,0.0
203,25324132.Auggie_&_Me:_Three_Wonder_Stories_(Wo...,R.J. Palacio,R.J.,unknown,0.0
217,"460548.Go,_Dog._Go!",P.D. Eastman,P.D.,unknown,0.0
224,77394.Anne's_House_of_Dreams_(Anne_of_Green_Ga...,L.M. Montgomery,L.M.,unknown,0.0
250,"775597.Caps_for_Sale:_A_Tale_of_a_Peddler,_Som...",Esphyr Slobodkina,Esphyr,unknown,0.0
269,674749.The_Ordinary_Princess,M.M. Kaye,M.M.,unknown,0.0
271,"3562.Emily_of_New_Moon_(Emily,_#1)",L.M. Montgomery,L.M.,unknown,0.0
273,65840.Anne_of_Windy_Poplars_(Anne_of_Green_Gab...,L.M. Montgomery,L.M.,unknown,0.0
283,7779.Horton_Hears_a_Who!,Dr. Seuss,Dr.,unknown,0.0
285,9642662-me-jane,Patrick McDonnell,Patrick,unknown,0.0
335,206962.Hop_On_Pop,Dr. Seuss,Dr.,unknown,0.0
344,420297.Curious_George,H.A. Rey,H.A.,unknown,0.0
350,105551.Fox_in_Socks,Dr. Seuss,Dr.,unknown,0.0
396,7769.Dr._Seuss's_ABC,Dr. Seuss,Dr.,unknown,0.0
434,"179565.The_Marvelous_Land_of_Oz_(Oz,_#2)",L. Frank Baum,L.,unknown,0.0
437,164531.The_Railway_Children,E. Nesbit,E.,unknown,0.0
439,105549.The_Sneetches_and_Other_Stories,Dr. Seuss,Dr.,unknown,0.0
448,"77395.Rainbow_Valley_(Anne_of_Green_Gables,_#7)",L.M. Montgomery,L.M.,unknown,0.0
496,562763.Scaredy_Squirrel,Mélanie Watt,Mélanie,unknown,0.0
508,"45181.Five_Children_and_It_(Five_Children,_#1)",E. Nesbit,E.,unknown,0.0
559,18651970.A_Path_Begins_(The_Thickety_#1),J.A. White,J.A.,unknown,0.0
579,310272.There's_a_Wocket_in_My_Pocket!,Dr. Seuss,Dr.,unknown,0.0
584,105552.Mr._Brown_Can_Moo!_Can_You?,Dr. Seuss,Dr.,unknown,0.0
598,11301.Horton_Hatches_the_Egg,Dr. Seuss,Dr.,unknown,0.0
607,"60177.Ozma_of_Oz_(Oz,_#3)",L. Frank Baum,L.,unknown,0.0
611,22750286.Sidewalk_Flowers,JonArno Lawson,JonArno,unknown,0.0
616,"125662.Say_Cheese_and_Die!_(Goosebumps,_#4)",R.L. Stine,R.L.,unknown,0.0
617,"308540.The_Haunted_Mask_(Goosebumps,_#11)",R.L. Stine,R.L.,unknown,0.0
640,275325.The_Butter_Battle_Book,Dr. Seuss,Dr.,unknown,0.0
651,24968109.What_Pet_Should_I_Get?,Dr. Seuss,Dr.,unknown,0.0
686,18552623.Radiant_Child:_The_Story_of_Young_Art...,Javaka Steptoe,Javaka,unknown,0.0
695,7331.Letters_from_Father_Christmas,J.R.R. Tolkien,J.R.R.,unknown,0.0
702,667234.The_Cat_in_the_Hat_Comes_Back,Dr. Seuss,Dr.,unknown,0.0
742,"773507.Emily's_Quest_(Emily,_#3)",L.M. Montgomery,L.M.,unknown,0.0
744,420404.Yertle_the_Turtle_and_Other_Stories,Dr. Seuss,Dr.,unknown,0.0
757,28351.And_to_Think_That_I_Saw_it_on_Mulberry_S...,Dr. Seuss,Dr.,unknown,0.0
817,7797.Ten_Apples_Up_On_Top!,Dr. Seuss,Dr.,unknown,0.0
829,134028.My_Many_Colored_Days,Dr. Seuss,Dr.,unknown,0.0
844,1703186.Chester,Mélanie Watt,Mélanie,unknown,0.0
866,22443909.The_Imaginary,A.F. Harrold,A.F.,unknown,0.0
867,89730.The_Outcasts_of_19_Schuyler_Place,E.L. Konigsburg,E.L.,unknown,0.0
874,23754884.The_Green_Ember_(The_Green_Ember_#1),S.D. Smith,S.D.,unknown,0.0
907,"125542.Stay_Out_of_the_Basement__(Goosebumps,_#2)",R.L. Stine,R.L.,unknown,0.0
917,7785.I_Can_Read_With_My_Eyes_Shut!,Dr. Seuss,Dr.,unknown,0.0
990,45183.The_Enchanted_Castle,E. Nesbit,E.,unknown,0.0
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.,unknown,0.0
999,"773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.,unknown,0.0

In [60]:
list_of_values3 = ['R.J.','J.K.','L.M.','P.L.','E.L.','Esphyr','M.M.','E.', 'Mélanie']

final_1000authors.loc[final_1000authors.first_name.isin (list_of_values3),'gender']='female'

In [61]:
list_of_values4 = ['E.B.','Dr.','L.','C.S.','Pseudonymous','B.J.','A.A.','P.D.','Patrick', 'H.A.', 
                  'J.A.','JonArno', 'R.L.', 'Javaka', 'J.R.R.', 'A.F.', 'S.D.', ' Patrick', 'N.D.']

final_1000authors.loc[final_1000authors.first_name.isin (list_of_values4),'gender']='male'

In [62]:
final_1000authors.gender.value_counts()

male      517
female    483
Name: gender, dtype: int64

In [63]:
final_1000authors[final_1000authors.probability >= 0.80].sample(50)

,book_id_title,author,first_name,gender,probability
711,16074748.Tales_from_a_Not-So-Happy_Heartbreake...,Rachel Renée Russell,Rachel,female,0.98
544,10508526.The_Chronicles_of_Harris_Burdick:_14_...,Chris Van Allsburg,Chris,male,0.90
451,37191.Mercy_Watson_to_the_Rescue_(Mercy_Watson...,Kate DiCamillo,Kate,female,0.98
444,88455.The_Chocolate_Touch,Patrick Skene Catling,Patrick,male,0.99
97,20575434.Rain_Reign,Ann M. Martin,Ann,female,0.97
985,23399241.Woof_(Bowser_and_Birdie_#1),Spencer Quinn,Spencer,male,0.96
672,295801.The_House_with_a_Clock_in_Its_Walls_(Le...,John Bellairs,John,male,0.99
44,"2921082.The_Maze_of_Bones__(The_39_Clues,_#1)",Rick Riordan,Rick,male,0.99
155,18295821.The_Adventures_of_Beekle:_The_Unimagi...,Dan Santat,Dan,male,0.95
347,10803806.Darth_Paper_Strikes_Back_(Origami_Yod...,Tom Angleberger,Tom,male,0.99
730,"91247.Ramona_and_Her_Father_(Ramona,_#4)",Beverly Cleary,Beverly,female,0.96
472,231821.The_Incredible_Journey,Sheila Burnford,Sheila,female,0.99
804,"14823980.A_Fine_Dessert:_Four_Centuries,_Four_...",Emily Jenkins,Emily,female,0.98
525,16702384.Battle_Bunny,Jon Scieszka,Jon,male,0.98
200,958277.Junie_B_Jones_and_the_Stupid_Smelly_Bus,Barbara Park,Barbara,female,0.98
864,"19314.Ronia,_the_Robber's_Daughter",Astrid Lindgren,Astrid,female,0.97
516,835010.The_Keeping_Quilt,Patricia Polacco,Patricia,female,0.98
847,9465166.Hooray_for_Amanda_&_Her_Alligator!,Mo Willems,Mo,male,0.80
131,39963.A_Long_Way_from_Chicago_(A_Long_Way_from...,Richard Peck,Richard,male,0.99
336,1918702.Lon_Po_Po:_A_Red-Riding_Hood_Story_fro...,Ed Young,Ed,male,0.95
675,"20708773.Quest_(Journey_Trilogy,_#2)",Aaron Becker,Aaron,male,0.99
310,7150178.Big_Nate:_In_a_Class_by_Himself_(Big_N...,Lincoln Peirce,Lincoln,male,0.99
953,17383992.Tap_the_Magic_Tree,Christie Matheson,Christie,female,0.93
650,11891485.And_Then_It's_Spring,Julie Fogliano,Julie,female,0.98
965,246936.Yo!_Yes?,Chris Raschka,Chris,male,0.90
280,"5861926.The_Sword_Thief_(The_39_Clues,_#3)",Peter Lerangis,Peter,male,0.99
468,28686931.A_Child_of_Books,Oliver Jeffers,Oliver,male,0.99
500,18079557.The_Ghosts_of_Tupelo_Landing_(Mo_&_Da...,Sheila Turnage,Sheila,female,0.99
211,232109.The_Mouse_and_the_Motorcycle_(Ralph_S._...,Beverly Cleary,Beverly,female,0.96
770,20518873.This_Book_Just_Ate_My_Dog!,Richard Byrne,Richard,male,0.99
848,324974.Sophie's_World:_A_Novel_about_the_Histo...,Jostein Gaarder,Jostein,male,0.98
22,6319.The_BFG,Roald Dahl,Roald,male,1.00
670,"143717.Pirates_Past_Noon_(Magic_Tree_House,_#4)",Mary Pope Osborne,Mary,female,0.99
374,15791063.Flora_and_the_Flamingo,Molly Idle,Molly,female,0.95
214,10425811.Liesl_&_Po,Lauren Oliver,Lauren,female,0.90
330,765148.Giraffes_Can't_Dance,Giles Andreae,Giles,male,0.98
406,731804.Pinkalicious,Victoria Kann,Victoria,female,0.98
487,69499.The_Wanderer,Sharon Creech,Sharon,female,0.98
731,342994.The_Little_Match_Girl,Hans Christian Andersen,Hans,male,0.97
805,20917828.You_Are_(Not)_Small,Anna Kang,Anna,female,0.98
973,"101001.The_Secret_of_Shadow_Ranch_(Nancy_Drew,...",Carolyn Keene,Carolyn,female,0.98
620,403722.Missing_May,Cynthia Rylant,Cynthia,female,0.99
884,31247841.Triangle,Mac Barnett,Mac,male,0.92
788,17930108.Rules_of_Summer,Shaun Tan,Shaun,male,0.99
981,10118.Saint_George_and_the_Dragon,Margaret Hodges,Margaret,female,0.99
327,858514.Wemberly_Worried,Kevin Henkes,Kevin,male,0.99
956,2647293.Alice's_Adventures_in_Wonderland_(Alic...,Lewis Carroll,Lewis,male,0.98
971,7999433.Dark_Emperor_and_Other_Poems_of_the_Night,Joyce Sidman,Joyce,female,0.96
328,20708761.Sam_and_Dave_Dig_a_Hole,Mac Barnett,Mac,male,0.92
462,532069.Pink_and_Say,Patricia Polacco,Patricia,female,0.98

In [64]:
final_1000authors.loc[final_1000authors.first_name =='Jean','gender'] ='female'

In [65]:
final_1000authors.gender.value_counts()

male      513
female    487
Name: gender, dtype: int64

In [66]:
final_1000authors.author.nunique()

554

In [67]:
final_1000authors[final_1000authors.gender=='female'].author.nunique()

298

In [68]:
final_1000authors[final_1000authors.gender=='male'].author.nunique()

256

In [69]:
final_1000authors

,book_id_title,author,first_name,gender,probability
0,"3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois,female,0.58
1,11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.,female,0.00
2,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.,female,0.00
3,157993.The_Little_Prince,Antoine de Saint-Exupéry,Antoine,male,0.99
4,"38709.Holes_(Holes,_#1)",Louis Sachar,Louis,male,0.97
...,...,...,...,...,...
995,3231457.Chicken_Cheeks,Michael Ian Black,Michael,male,0.99
996,22504710.Castle_Hangnail,Ursula Vernon,Ursula,female,0.98
997,774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,Bette Bao Lord,Bette,female,0.89
998,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.,male,0.00
999,"773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.,female,0.00

In [70]:
pop1000books.head(2)

,book_id,isbn,text_reviews_count,is_ebook,average_rating,description,format,publisher,num_pages,isbn13,publication_year,ratings_count,title,descriptiondetect,titledetect,title_2,book_id_str,book_id_title
0,3636,0385732554,49850,False,4.12,Twelve-year-old Jonas lives in a seemingly ide...,Paperback,Ember,208.0,9780385732550,2006,1311422,"The Giver (The Giver, #1)",twelve-year-old jonas lives in a seemingly ide...,"the giver (the giver, #1)","The_Giver_(The_Giver,_#1)",3636,"3636.The_Giver_(The_Giver,_#1)"
1,11387515,0375869026,31536,False,4.43,I won't describe what I look like. Whatever yo...,Hardcover,Knopf,316.0,9780375869020,2012,255461,Wonder (Wonder #1),i won't describe what i look like. whatever yo...,wonder (wonder #1),Wonder_(Wonder_#1),11387515,11387515.Wonder_(Wonder_#1)

In [71]:
pop1000books.columns

Index(['book_id', 'isbn', 'text_reviews_count', 'is_ebook', 'average_rating',
       'description', 'format', 'publisher', 'num_pages', 'isbn13',
       'publication_year', 'ratings_count', 'title', 'descriptiondetect',
       'titledetect', 'title_2', 'book_id_str', 'book_id_title'],
      dtype='object')

In [72]:
pop1000books.shape

(1000, 18)

In [73]:
pop1000books_clean=pop1000books.drop(['title_2','book_id_str', 'book_id_title'], axis=1)

In [74]:
pop1000books_clean.shape

(1000, 15)

In [75]:
#pop1000books_clean2=pop1000books_clean.reset_index()

In [76]:
# Merge both dataframes
df_1000 = pd.concat([pop1000books_clean, final_1000authors],axis=1)
df_1000

,book_id,isbn,text_reviews_count,is_ebook,average_rating,description,format,publisher,num_pages,isbn13,publication_year,ratings_count,title,descriptiondetect,titledetect,book_id_title,author,first_name,gender,probability
0,3636,0385732554,49850,False,4.12,Twelve-year-old Jonas lives in a seemingly ide...,Paperback,Ember,208.0,9780385732550,2006,1311422,"The Giver (The Giver, #1)",twelve-year-old jonas lives in a seemingly ide...,"the giver (the giver, #1)","3636.The_Giver_(The_Giver,_#1)",Lois Lowry,Lois,female,0.58
1,11387515,0375869026,31536,False,4.43,I won't describe what I look like. Whatever yo...,Hardcover,Knopf,316.0,9780375869020,2012,255461,Wonder (Wonder #1),i won't describe what i look like. whatever yo...,wonder (wonder #1),11387515.Wonder_(Wonder_#1),R.J. Palacio,R.J.,female,0.00
2,5,043965548X,28561,False,4.53,Harry Potter's third year at Hogwarts is full ...,Mass Market Paperback,Scholastic,435.0,9780439655484,2004,1876252,Harry Potter and the Prisoner of Azkaban (Harr...,harry potter's third year at hogwarts is full ...,harry potter and the prisoner of azkaban (harr...,5.Harry_Potter_and_the_Prisoner_of_Azkaban_(Ha...,J.K. Rowling,J.K.,female,0.00
3,157993,0156012197,16639,False,4.28,"Moral allegory and spiritual autobiography, Th...",Paperback,"Harcourt, Inc.",93.0,9780156012195,2000,763309,The Little Prince,"moral allegory and spiritual autobiography, th...",the little prince,157993.The_Little_Prince,Antoine de Saint-Exupéry,Antoine,male,0.99
4,38709,0439244196,14851,False,3.93,Stanley tries to dig up the truth in this inve...,Paperback,Scholastic,233.0,9780439244190,2000,766680,"Holes (Holes, #1)",stanley tries to dig up the truth in this inve...,"holes (holes, #1)","38709.Holes_(Holes,_#1)",Louis Sachar,Louis,male,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,67243,1428045961,333,False,3.85,Excerpt from book: Sup't John Grier Home. Dear...,Paperback,IndyPublish.com,350.0,9781428045965,2006,3696,"Dear Enemy (Daddy-Long-Legs, #2)",excerpt from book: sup't john grier home. dear...,"dear enemy (daddy-long-legs, #2)",3231457.Chicken_Cheeks,Michael Ian Black,Michael,male,0.99
996,153866,0439998190,333,False,4.13,Professor Pippy P. (Pee-Pee) Poopypants is a b...,Paperback,Scholastic,160.0,9780439998192,2001,10005,Captain Underpants and the Perilous Plot of Pr...,professor pippy p. (pee-pee) poopypants is a b...,captain underpants and the perilous plot of pr...,22504710.Castle_Hangnail,Ursula Vernon,Ursula,female,0.98
997,6081980,0375838856,332,False,4.12,When Henry York found 99 cupboards hidden behi...,Mass Market Paperback,Random House,482.0,9780375838859,2010,3293,"The Chestnut King (100 Cupboards, #3)",when henry york found 99 cupboards hidden behi...,"the chestnut king (100 cupboards, #3)",774600.In_the_Year_of_the_Boar_and_Jackie_Robi...,Bette Bao Lord,Bette,female,0.89
998,774600,0064401758,332,False,3.81,Shirley Temple Wong sails from China to Americ...,Paperback,HarperCollins,176.0,9780064401753,2003,4465,In the Year of the Boar and Jackie Robinson,shirley temple wong sails from china to americ...,in the year of the boar and jackie robinson,"6081980.The_Chestnut_King_(100_Cupboards,_#3)",N.D. Wilson,N.D.,male,0.00
999,773514,0553262149,331,False,4.14,Emily Starr was born with the desire to write....,Paperback,Starfire,325.0,9780553262148,1983,15767,"Emily Climbs (Emily, #2)",emily starr was born with the desire to write....,"emily climbs (emily, #2)","773514.Emily_Climbs_(Emily,_#2)",L.M. Montgomery,L.M.,female,0.00

In [77]:
df_1000.to_csv('df_1000final.csv',index=False)